body
{
    background-color: rgb(159, 109, 159);
}

.textArea
{
    width:  calc(100% - 10px);
    background-color:  rgb(247, 217, 247);
}

.volumeSliderTrack
{
    height: 10px;
    margin-top: 5px;
    background-color:  rgb(247, 217, 247);
}

.volumeSliderThumb
{
    background-color: rgb(78, 113, 85);
    color: white;
    border-radius: 25px;
}

.sliderContainer
{
    display: flex;    
}

.sliderSlider
{
    flex-grow: 1;
    margin-left: 10px;
}